In [ ]:
import os, sys
import pandas as pd

In [ ]:
fd = open('SVC_result.csv', 'w')
for root, dirs, files in os.walk('./output_model_SVC'):
    for file in files:
        path = os.path.join(root,file)
        
        if path.endswith('.csv'):
            with open(path, 'r') as cur_fd:
                fd.write('\n'.join(cur_fd.readlines()))
fd.close()

In [ ]:
# with open('SVC_result', 'r') as f:
#     print(f.read())

In [ ]:
name = sys.argv[1]
df = pd.read_csv(name)
df['ours'] = df['class'].apply(lambda x: None)

for i, row in enumerate(df.values):
    print('{}/{} '.format(i, len(df)), row[1], row[2])
    class_id = int(input())
    df.loc[i,'ours'] = class_id
    break

df.to_csv('out_'+name)

In [101]:
df = pd.read_csv('out_SVC_result.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,time,text,class,ours
0,0,0,2019-11-19T14:00:00.166+03:00,@blossombobcat awww. tnx. u guys take care. i ...,1.0,1
1,1,1,2019-11-19T14:41:50.281+03:00,\@dasbecca we totally call walmart the $100 st...,0.0,0
2,2,2,2019-11-19T14:20:00.161+03:00,@BlowJab same shit happened to me on Monday. I...,0.0,0
3,3,3,2019-11-19T14:41:50.281+03:00,@dasflipz Nice to meet you tonight!,1.0,1
4,4,4,2019-11-19T14:00:00.166+03:00,\@BloodzillaBilly That pic is amazing! I tried...,1.0,0

In [103]:
(df['class'].values == df['ours'].values).sum() / len(df)

0.6271186440677966

In [90]:
df.head()

,Unnamed: 0,Unnamed: 0.1,time,text,class,ours
0,0,2019-11-19T13:20:00.125+03:00,@darthvader May the 4th be with you too,1.0,NaN,1
1,1,2019-11-19T12:40:00.168+03:00,@BlondeNoa thanks girl,1.0,NaN,1
2,2,2019-11-19T11:40:00.909+03:00,"\@BlokeyMan yes it is""",0.0,NaN,1
3,3,2019-11-19T13:00:00.137+03:00,@bloodcicle use freeballin'! in a haiku please,0.0,NaN,1
4,4,2019-11-19T12:20:00.148+03:00,@DarrylCottrell amen brother!a.men. awww 1951....,1.0,NaN,1

In [86]:
df['text', 'ours']

KeyError: ('text', 'ours')