In [ ]:
import os, sys
import pandas as pd

In [69]:
fd = open('LogReg_result.csv', 'w')
for root, dirs, files in os.walk('./output_model_LogReg'):
    for file in files:
        path = os.path.join(root,file)
        
        if path.endswith('.csv'):
            with open(path, 'r') as cur_fd:
                fd.write('\n'.join(cur_fd.readlines()))
fd.close()

In [ ]:
# with open('SVC_result', 'r') as f:
#     print(f.read())

In [66]:
name = sys.argv[1]
df = pd.read_csv(name)
df['ours'] = df['class'].apply(lambda x: None)

for i, row in enumerate(df.values):
    print('{}/{} '.format(i, len(df)), row[1], row[2])
    class_id = int(input())
    df.loc[i,'ours'] = class_id
    break

df.to_csv('out_'+name)

In [68]:
df = pd.read_csv('out_SVC_result.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,time,text,class,ours
0,0,0,2019-11-19T14:00:00.166+03:00,@blossombobcat awww. tnx. u guys take care. i ...,1.0,1
1,1,1,2019-11-19T14:41:50.281+03:00,\@dasbecca we totally call walmart the $100 st...,0.0,0
2,2,2,2019-11-19T14:20:00.161+03:00,@BlowJab same shit happened to me on Monday. I...,0.0,0
3,3,3,2019-11-19T14:41:50.281+03:00,@dasflipz Nice to meet you tonight!,1.0,1
4,4,4,2019-11-19T14:00:00.166+03:00,\@BloodzillaBilly That pic is amazing! I tried...,1.0,0